<footer>
  <div class="f-info">
  <div class="f-info-social">
    <i href="linkedin.com/in/prabhat-kumar-469b7a256/?skipRedirect=true " class="fa-brands fa-square-facebook"></i><i href="https://www.instagram.com/nostalgi_234/" class="fa-brands fa-instagram"></i><i href= "" class="fa-brands fa-square-twitter"></i>
</div>
   
  <div>
   &copy; 2025 Wanderlust private Limited
  </div>
  <div class="f-links">
    <a href="www.google.com">Privacy</a>
    <a href="www.google.com">terms and condition</a>
  </div>
  </div>
</footer>
